:root {
  /* Colors */
  --font-button-primary: #ffffff;
  --font-primary: #222221;
  --font-secondary: #fae000;
  --font-tertiary: #fff;
  --font-quaternary: #fae000;
  --font-quinary: #222221;
  --font-light: red;

  --background-primary: #fae000;
  --background-secondary: #222221;
  --background-tertiary: #fff;
  --background-quaternary: red;
  --background-quaternary: red;
  --background-light: red;
  --background-primary-light: #fae0001A;

  --primary-default: #84A7BC;
  --primary-dark: #55709B;
  --primary-light: #b2ffe7;

  --error-default: #ef3e36;
  --error-dark: #800600;
  --error-light: #ffcecc;

  --background-logo: url("/assets/atlantic-logo.png") left center no-repeat;
}
