.txt-10px{ font-size: 10px !important; }
.txt-11px{ font-size: 11px !important; }
.txt-12px{ font-size: 12px !important; }
.txt-13px{ font-size: 13px !important; }
.txt-14px{ font-size: 14px !important; }
.txt-15px{ font-size: 15px !important; }
.txt-16px{ font-size: 16px !important; }
.txt-17px{ font-size: 17px !important; }
.txt-18px{ font-size: 18px !important; }
.txt-19px{ font-size: 19px !important; }
.txt-20px{ font-size: 20px !important; }
.txt-21px{ font-size: 21px !important; }
.txt-22px{ font-size: 22px !important; }
.txt-23px{ font-size: 23px !important; }
.txt-24px{ font-size: 24px !important; }
.txt-25px{ font-size: 25px !important; }
.txt-26px{ font-size: 26px !important; }
.txt-27px{ font-size: 27px !important; }
.txt-28px{ font-size: 28px !important; }
.txt-29px{ font-size: 29px !important; }
.txt-30px{ font-size: 30px !important; }
.txt-35px{ font-size: 35px !important; }
.txt-90p{ font-size: 90% !important;}
@media only screen and(max-width: 1000px){
    .txtmob-14px{ font-size: 14px !important;}
    .txtmob-12px{ font-size: 12px !important;}
}

@media only screen and(max-width: 1600px){
  .txt-10px{ font-size: 9px !important; }
  .txt-11px{ font-size: 10px !important; }
  .txt-12px{ font-size: 11px !important; }
  .txt-13px{ font-size: 12px !important; }
  .txt-14px{ font-size: 13px !important; }
  .txt-15px{ font-size: 14px !important; }
  .txt-16px{ font-size: 15px !important; }
  .txt-17px{ font-size: 16px !important; }
  .txt-18px{ font-size: 17px !important; }
  .txt-19px{ font-size: 18px !important; }
  .txt-20px{ font-size: 19px !important; }
  .txt-21px{ font-size: 20px !important; }
  .txt-22px{ font-size: 21px !important; }
  .txt-23px{ font-size: 22px !important; }
  .txt-24px{ font-size: 23px !important; }
  .txt-25px{ font-size: 24px !important; }
  .txt-26px{ font-size: 25px !important; }
  .txt-27px{ font-size: 26px !important; }
  .txt-28px{ font-size: 27px !important; }
  .txt-29px{ font-size: 28px !important; }
  .txt-30px{ font-size: 29px !important; }
  .txt-35px{ font-size: 34px !important; }
}

@media only screen and(max-width: 1400px){
  .txt-10px{ font-size: 8px !important; }
  .txt-11px{ font-size: 9px !important; }
  .txt-12px{ font-size: 10px !important; }
  .txt-13px{ font-size: 11px !important; }
  .txt-14px{ font-size: 12px !important; }
  .txt-15px{ font-size: 13px !important; }
  .txt-16px{ font-size: 14px !important; }
  .txt-17px{ font-size: 15px !important; }
  .txt-18px{ font-size: 16px !important; }
  .txt-19px{ font-size: 17px !important; }
  .txt-20px{ font-size: 18px !important; }
  .txt-21px{ font-size: 19px !important; }
  .txt-22px{ font-size: 20px !important; }
  .txt-23px{ font-size: 21px !important; }
  .txt-24px{ font-size: 22px !important; }
  .txt-25px{ font-size: 23px !important; }
  .txt-26px{ font-size: 24px !important; }
  .txt-27px{ font-size: 25px !important; }
  .txt-28px{ font-size: 26px !important; }
  .txt-29px{ font-size: 27px !important; }
  .txt-30px{ font-size: 28px !important; }
  .txt-35px{ font-size: 33px !important; }
}

@media only screen and(max-width: 1200px){
  .txt-10px{ font-size: 7px !important; }
  .txt-11px{ font-size: 8px !important; }
  .txt-12px{ font-size: 9px !important; }
  .txt-13px{ font-size: 10px !important; }
  .txt-14px{ font-size: 11px !important; }
  .txt-15px{ font-size: 12px !important; }
  .txt-16px{ font-size: 13px !important; }
  .txt-17px{ font-size: 14px !important; }
  .txt-18px{ font-size: 15px !important; }
  .txt-19px{ font-size: 16px !important; }
  .txt-20px{ font-size: 17px !important; }
  .txt-21px{ font-size: 18px !important; }
  .txt-22px{ font-size: 19px !important; }
  .txt-23px{ font-size: 20px !important; }
  .txt-24px{ font-size: 21px !important; }
  .txt-25px{ font-size: 22px !important; }
  .txt-26px{ font-size: 23px !important; }
  .txt-27px{ font-size: 24px !important; }
  .txt-28px{ font-size: 25px !important; }
  .txt-29px{ font-size: 26px !important; }
  .txt-30px{ font-size: 27px !important; }
  .txt-35px{ font-size: 32px !important; }
}

