
.txt-red{ color: red !important; }
.txt-darkred{ color: darkred !important; }
.txt-lightgreen{ color: lightgreen !important; }
.txt-green{ color: green !important; }
.txt-darkgreen{ color: darkgreen !important; }
.txt-orange{ color: orange !important; }
.txt-darkorange{ color: darkorange !important; }
.txt-lightyellow{ color: lightyellow !important; }
.txt-yellow{ color: yellow !important; }
.txt-lightblue{ color: lightblue !important; }
.txt-blue{ color: blue !important; }
.txt-darkblue{ color: darkblue !important; }
.txt-icongray{ color: #9d9d9d !important; }
.txt-lightgray{ color: lightgray !important; }
.txt-gray{ color: gray !important; }
.txt-darkgray{ color: rgb(133, 133, 133) !important; }
.txt-black{ color: black !important; }
.txt-white{ color: white !important; }
.txt-bluelink{ color: #2962ff;}

.hov-txt-red:hover{ color: red !important; }
.hov-txt-darkred:hover{ color: darkred !important; }
.hov-txt-lightgreen:hover{ color: lightgreen !important; }
.hov-txt-green:hover{ color: green !important; }
.hov-txt-darkgreen:hover{ color: darkgreen !important; }
.hov-txt-orange:hover{ color: orange !important; }
.hov-txt-darkorange:hover{ color: darkorange !important; }
.hov-txt-lightyellow:hover{ color: lightyellow !important; }
.hov-txt-yellow:hover{ color: yellow !important; }
.hov-txt-lightblue:hover{ color: lightblue !important; }
.hov-txt-blue:hover{ color: blue !important; }
.hov-txt-darkblue:hover{ color: darkblue !important; }
.hov-txt-lightgray:hover{ color: lightgray !important; }
.hov-txt-gray:hover{ color: gray !important; }
.hov-txt-darkgray:hover{ color: darkgray !important; }
.hov-txt-black:hover{ color: black !important; }
.hov-txt-white:hover{ color: white !important; }
.hov-txt-bluelink:hover{ cursor: pointer; }


.txt-primary{ color: #84A7BC; }

.txt-mat-primary{ color: #ffd600; }
.txt-mat-accent{ color: #212121; }
.txt-mat-warn{ color: #F44336; }
