
.bgr-red{ background-color: #ff0000 !important; }
.bgr-darkred{ background-color: darkred !important; }
.bgr-lightgreen{ background-color: lightgreen !important; }
.bgr-green{ background-color: #008000 !important; }
.bgr-green-100{ background-color: rgba(0, 128, 0, 0.2); }
.bgr-darkgreen{ background-color: darkgreen !important; }
.bgr-orange{ background-color: #ffa500 !important; }
.bgr-darkorange{ background-color: darkorange !important; }
.bgr-lightyellow{ background-color: rgb(255, 255, 174) !important; }
.bgr-yellow{ background-color: yellow !important; }
.bgr-yellow-400{ background-color: rgba(255, 255, 0, 0.8); }
.bgr-yellow-300{ background-color: rgba(255, 255, 0, 0.6); }
.bgr-yellow-200{ background-color: rgba(255, 255, 0, 0.4); }
.bgr-yellow-100{ background-color: rgba(255, 255, 0, 0.2); }
.bgr-lightblue{ background-color:lightblue !important; }
.bgr-blue{ background-color: #0000ff !important; }
.bgr-darkblue{ background-color: darkblue !important; }
.bgr-dividergray{ background-color: #9d9d9d !important; }
.bgr-searchgray{ background-color: #efefef !important; }
.bgr-lightgray{ background-color: lightgray !important; }
.bgr-inputgray{ background-color: #E7E8F2 !important; }
.bgr-gray{ background-color: gray !important; }
.bgr-gray-100{ background-color: rgba(128, 128, 128, 0.2); }
.bgr-darkgray{ background-color: #a9a9a9 !important; }
.bgr-lightblack{ background-color: #222221 !important; }
.bgr-black{ background-color: #000111 !important; }
.bgr-white{ background-color: #ffffff !important; }

.hov-bgr-red:hover{ background-color: red !important; }
.hov-bgr-darkred:hover{ background-color: darkred !important; }
.hov-bgr-lightgreen:hover{ background-color: lightgreen !important; }
.hov-bgr-green:hover{ background-color: green !important; }
.hov-bgr-darkgreen:hover{ background-color: darkgreen !important; }
.hov-bgr-orange:hover{ background-color: orange !important; }
.hov-bgr-darkorange:hover{ background-color: darkorange !important; }
.hov-bgr-lightyellow:hover{ background-color: rgb(255, 255, 174) !important; }
.hov-bgr-yellow:hover{ background-color: yellow !important; }
.hov-bgr-lightblue:hover{ background-color: lightblue !important; }
.hov-bgr-blue:hover{ background-color: blue !important; }
.hov-bgr-darkblue:hover{ background-color: darkblue !important; }
.hov-bgr-lightgray:hover{ background-color: rgb(224, 224, 224) !important; }
.hov-bgr-searchgray:hover{ background-color: #efefef !important; }
.hov-bgr-gray:hover{ background-color: gray !important; }
.hov-bgr-darkgray:hover{ background-color: darkgray !important; }
.hov-bgr-black:hover{ background-color: black !important; }
.hov-bgr-white:hover{ background-color: white !important; }

.bgr-mat-primary{ background-color: #ffd600; }
.bgr-mat-accent{ background-color: #212121; }
.bgr-mat-warn{ background-color: #F44336; }

.bgr-primary{ background-color: #84A7BC; }




